/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
body {
  line-height: 1;
}

/* line 34, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../portfolio/assets/css/source/base/_reset-meyer.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../../portfolio/assets/css/source/base/_color-palette.scss */
.navy-darker {
  background-color: #18122B;
}

/* line 11, ../../portfolio/assets/css/source/base/_color-palette.scss */
.navy-deep {
  background-color: #393053;
}

/* line 14, ../../portfolio/assets/css/source/base/_color-palette.scss */
.navy-soft {
  background-color: #443C68;
}

/* line 17, ../../portfolio/assets/css/source/base/_color-palette.scss */
.navy-light {
  background-color: #635985;
}

/* line 20, ../../portfolio/assets/css/source/base/_color-palette.scss */
.off-white {
  background-color: #f0f0f0;
}

/* line 23, ../../portfolio/assets/css/source/base/_color-palette.scss */
.white {
  background-color: #ffffff;
}

/*------------------------------------*\
  #FONT-BASE roboto-regular - latin
\*------------------------------------*/
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../base/fonts/roboto-v30-latin/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../base/fonts/roboto-v30-latin/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../base/fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2") format("woff2"), url("../base/fonts/roboto-v30-latin/roboto-v30-latin-regular.woff") format("woff"), url("../base/fonts/roboto-v30-latin/roboto-v30-latin-regular.ttf") format("truetype"), url("../base/fonts/roboto-v30-latin/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/*------------------------------------*\
  #FONT VARIABLE
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAPY SETUP
\*------------------------------------*/
/* line 8, ../../portfolio/assets/css/source/base/_typography.scss */
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
}

/* line 15, ../../portfolio/assets/css/source/base/_typography.scss */
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}

/* line 22, ../../portfolio/assets/css/source/base/_typography.scss */
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

/* line 29, ../../portfolio/assets/css/source/base/_typography.scss */
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

/* line 36, ../../portfolio/assets/css/source/base/_typography.scss */
h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

/* line 43, ../../portfolio/assets/css/source/base/_typography.scss */
h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

/* line 50, ../../portfolio/assets/css/source/base/_typography.scss */
.tittle-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

/* line 57, ../../portfolio/assets/css/source/base/_typography.scss */
.tittle-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .15px;
}

/* line 65, ../../portfolio/assets/css/source/base/_typography.scss */
.tittle-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1px;
}

/* line 73, ../../portfolio/assets/css/source/base/_typography.scss */
.label-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1px;
}

/* line 81, ../../portfolio/assets/css/source/base/_typography.scss */
.label-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .5px;
}

/* line 89, ../../portfolio/assets/css/source/base/_typography.scss */
.label-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .5px;
}

/* line 97, ../../portfolio/assets/css/source/base/_typography.scss */
.body-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .5px;
}

/* line 105, ../../portfolio/assets/css/source/base/_typography.scss */
.body-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .25px;
}

/* line 113, ../../portfolio/assets/css/source/base/_typography.scss */
.body-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .4px;
}

/* line 1, ../../portfolio/assets/css/source/base/_base.scss */
html {
  font-family: 'Roboto';
}

/* line 4, ../../portfolio/assets/css/source/base/_base.scss */
body {
  background-image: url(/assets/img/8150248.jpg);
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* line 13, ../../portfolio/assets/css/source/base/_base.scss */
main {
  flex: 1;
  padding: 0;
}

/* line 18, ../../portfolio/assets/css/source/base/_base.scss */
footer {
  background-color: #18122B;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #EDEDED;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 15px;
}

/*------------------------------------*\
  #HEADER STYLE
\*------------------------------------*/
/* line 9, ../../portfolio/assets/css/source/layout/_header.scss */
nav {
  background-color: #0f0e61;
}

/* line 20, ../../portfolio/assets/css/source/layout/_header.scss */
.header__sm-menu {
  background-color: #0f0e61;
}

/* line 23, ../../portfolio/assets/css/source/layout/_header.scss */
.sm-menu__ul li:first-child {
  border-top: 1px solid #eee;
}

/* line 26, ../../portfolio/assets/css/source/layout/_header.scss */
.sm-menu__ul li {
  border-bottom: 1px solid #eee;
}

/* line 29, ../../portfolio/assets/css/source/layout/_header.scss */
.tittle-wrapper > img {
  background-image: url(/assets/img/foto-perfil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------*\
  #MEDIA QUERYS
\*------------------------------------*/
@media (max-width: 640px) {
  /* line 38, ../../portfolio/assets/css/source/layout/_header.scss */
  .tittle-wrapper > img {
    height: 100%;
  }
}

@media (min-width: 640px) {
  /* line 43, ../../portfolio/assets/css/source/layout/_header.scss */
  .burger {
    display: none;
  }
}

@media (max-width: 640px) {
  /* line 48, ../../portfolio/assets/css/source/layout/_header.scss */
  .nav_ul {
    display: none;
  }
}

@media (max-width: 640px) {
  /* line 53, ../../portfolio/assets/css/source/layout/_header.scss */
  h6 {
    font-size: 20px;
  }
}

/* line 1, ../../portfolio/assets/css/source/layout/_home.scss */
main {
  height: 40rem;
  backdrop-filter: blur(10px);
}

/* line 12, ../../portfolio/assets/css/source/layout/_home.scss */
.tittle-big::after {
  content: '';
  position: absolute;
  margin-top: 1.5rem;
  height: 5px;
  width: 3rem;
  background: #393053;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

/* line 26, ../../portfolio/assets/css/source/layout/_home.scss */
.contact__form-input {
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

/* line 36, ../../portfolio/assets/css/source/layout/_home.scss */
.contact__form-label {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

@media (max-width: 640px) {
  /* line 46, ../../portfolio/assets/css/source/layout/_home.scss */
  .contact__form-input {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  /* line 52, ../../portfolio/assets/css/source/layout/_home.scss */
  .home-about__main-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  /* line 57, ../../portfolio/assets/css/source/layout/_home.scss */
  .home-about, .home-expertise {
    padding: 0 2rem;
  }
}

@media (max-width: 640px) {
  /* line 62, ../../portfolio/assets/css/source/layout/_home.scss */
  .home-about__main-wrapper {
    flex-direction: column;
    gap: 4rem;
  }
}

@media (min-width: 640px) {
  /* line 73, ../../portfolio/assets/css/source/layout/_home.scss */
  .my-20 {
    margin: 8rem 0;
  }
}

/* line 77, ../../portfolio/assets/css/source/layout/_home.scss */
.come-front-menu {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

/*# sourceMappingURL=input.css.map */